/* src/components/header/header.css */
.header {
  width: 100%;
  background-color: #f8f9fa; /* Cor neutra para o header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #555 !important;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
